:root {
  --primary: #0f3547;
  --secondary: #e5f2e4;

  --icon-logo: #e4e3e3;

  --white: #ffffff;
  --black: #000000;

  --burguer: #0a2736;

  --tablet: 1000px;
  --mobile: 768px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
span,
p {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 800px;
}

nav > a {
  display: none;
  color: white;
  font-size: xx-large;
}

nav > img {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
  transition: all 0.3s ease;
  width: 100%;
  justify-content: space-evenly;
}

nav ul > a {
  display: none;
  color: white;
  font-size: xx-large;
  text-align: end;
}

nav ul li {
  margin-right: 20px;
  text-decoration: none;
}

nav ul li a {
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

section#home {
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding-bottom: 20vh;
}

section#home div {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  margin-top: auto;
  width: 100px;
  height: 100px;
  padding: 20px;
  animation: pulse 1s infinite;
  animation-timing-function: ease-in-out;  
}

@keyframes pulse {
  0% { bottom: 10%}
  50% { bottom: 11%}
  100% { bottom: 10%}
}

section#home div .arrow {
  border: solid var(--white);
  border-width: 0 1px 1px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}

section#home .meteor {
  width: 250px;
  height: 250px;
}

section#home .plim {
  width: 250px;
  height: 250px;
  margin-top: -80px;
}

section#home h2 {
  font-size: xx-large;
  font-weight: 400;
}

section#about-us {
  color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

section#about-us h2 {
  font-size: xx-large;
  font-weight: 400;
  text-transform: uppercase;
}

section#about-us .title {
  display: flex;
  height: fit-content;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

section#services {
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

section#join {
  align-items: center;
  color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* NAV */

@media screen and (max-width: 1000px) {

  nav {
    justify-content: space-between;
    padding: 1.2rem 80px;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 80px 80px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--burguer);
    transform: translateX(100%);
    justify-content: flex-start;
  }

  nav ul > a {
    display: block;
  }

  nav > ul li:nth-child(n + 1){
    margin: 10px 0;
  }

  nav > img {
    display: block;
    width: 150px;
    height: 150px;
  }

  nav > a {
    display: block;
  }

  section#home {
    padding-bottom: 10vh;
  }

  section#home .meteor {
    display: none;
  }
}

@media screen and (max-width: 600px) { 

  nav {
    padding: 1.2rem 40px;
  }

  nav > img {
    width: 120px;
    height: 120px;
  }

  nav > ul {
    padding: 60px 40px;
  }

  section#home .plim {
    width: 200px;
    height: 200px;
  }

  section#home h2 {
    font-size: x-large;
  }

}

@media screen and (max-width: 465px) { 

  nav img {
    width: 100px;
    height: 100px;
  }

  nav > ul {
    padding: 40px;
  }

  section#home .plim {
    width: 150px;
    height: 150px;
  }

  section#home h2 {
    font-size: large;
  }

}


@media screen and (max-width: 325px) { 

  nav {
    padding: 1.2rem 20px;
  }

  nav img {
    width: 80px;
    height: 80px;
  }

  nav > ul {
    padding: 40px;
  }

  section#home .plim {
    width: 150px;
    height: 150px;
  }

  section#home h2 {
    font-size: medium;
  }

}

